<?php
	// Configure::write('Newsletter.sendEmail', 'Webmaster <info@hostname.com>');
	// Configure::write('Newsletter.replyTo', 'info@hostname.com');
	// Configure::write('Newsletter.errorReturn', 'bounce@hostname.com');
	Configure::write('Newsletter.defaultSendlist', 1);
	Configure::write('Newsletter.EmailAdd.confirm', true);
	/*Configure::write('Newsletter.smtpOptions', array(
		'port'=>'25',
		'timeout'=>'30',
        'host' => 'hostname.com',
		'username'=>'postmaster@hostname.com',
		'password'=>'password'
    ));*/
	
	/*Configure::write('Newsletter.tableSendlist', array(
		array(
			'id'=>4,
			'model'=>'NewsletterEmail',
			//'firstNameField'=>'first_name',
			//'lastNameField'=>'last_name',
			//'activeField'=>'newsletter',
			//'showInnactive'=>false,
			//'conditions'=>array("NewsletterEmail.name like 'ke%'")
		)
	));*/
?>